.flow_container{
	font-size:14px;
	margin-left:20px; margin-top:10px; margin-right:20px; margin-bottom:10px;
	
	}

.flow_container td{
	padding:5px;
	}

.flow_header{
	padding:10px 10px 10px 10px;
	text-align:center;
	font-weight:bold;
	color:#666;
	
	}
.flow_item_TMP{
	margin-left:20px; margin-top:10px; margin-right:20px; margin-bottom:10px;
	min-width:300px;
	max-width:400px;
	background: #069;
	background: -moz-linear-gradient(top, #06C, #069);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#06C), to(#069));
	
	box-shadow: 4px 4px 4px #999999;
	border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
	
	
	padding:10px 10px 10px 10px !important;
	color:white;	
	font-size:14px;
	font-weight:normal;
	}
.flow_item{
	margin-left:20px; margin-top:10px; margin-right:20px; margin-bottom:10px;
	min-width:300px;
	max-width:400px;
	/**background: #069;
	background: -moz-linear-gradient(top, #06C, #069);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#06C), to(#069));**/
	
	/**box-shadow: 4px 4px 4px #999999;**/
	border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
	
	
	padding:10px 10px 10px 10px !important;
	color:white;	
	font-size:14px;
	font-weight:normal;
	}
	
.flow_item_current{
	margin-left:20px; margin-top:10px; margin-right:20px; margin-bottom:10px;
	min-width:300px;
	max-width:400px;
	background: #0ab961;
	background: -moz-linear-gradient(top, #0cd26e, #0ab961);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0cd26e), to(#0ab961));
	
	box-shadow: 4px 4px 4px #999999;
	border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
	
	
	padding:10px 10px 10px 10px !important;
	color:white;	
	font-size:14px;
	font-weight:normal;
	}

.flow_item_disable{
	margin-left:20px; margin-top:10px; margin-right:20px; margin-bottom:10px;
	min-width:300px;
	max-width:400px;
	background: Gray;
	background: -moz-linear-gradient(top, Gray, Gray);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(Gray), to(Gray));
	
	box-shadow: 4px 4px 4px #999999;
	border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
	
	
	padding:10px 10px 10px 10px !important;
	color:white;	
	font-size:14px;
	font-weight:normal;
	}
	
.btn_close_mini{
    position: absolute;
    top: -18px;
    right: -18px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 8040;
}