﻿

.AssLevel1
{ 
  min-width:120px;
  background-color:red !important;
  color:White !important;}
.AssLevel2
{ 
  min-width:120px;
  background-color:#ff9933 !important;
  color:White !important;}

.AssLevel3
{ 
  min-width:120px;
  background-color:#ffff66 !important;
  color:#000000 !important;}
  
 .AssLevel4
{ 
  min-width:120px;
  background-color:#66cc66 !important;
  color:White !important;}
  
 .AssLevel5
{ 
  min-width:120px;
  background-color:green !important;
  color:White !important;}
 /*Text*/
 .TextLevel0
{ 
  color:#777777 !important;
 }
 
  .TextLevel1
{ 
  min-width:120px;
  color:red !important;
 }
.TextLevel2
{ 
  min-width:120px;
  color:red !important;
}        
.TextLevel3
{ 
  min-width:120px;
  color:black !important;
 }
  
 .TextLevel4
{ 
  min-width:120px;
  color:green !important;
 }
  
 .TextLevel5
{ 
  min-width:120px;
  color:green !important;
 }
 
 .winkLevel1
{ 
 background-image:url("../../images/wink/wink1.gif") !important;
 background-repeat:repeat;
 }
 
 .winkLevel2
{ 
 background-image:url("../../images/wink/wink2.gif") !important;
 background-repeat:repeat;
 }
 
 .winkLevel3
{ 
 background-image:url("../../images/wink/wink3.gif") !important;
 background-repeat:repeat;
 }
 
 .winkLevel4
{ 
 background-image:url("../../images/wink/wink4.gif") !important;
 background-repeat:repeat;
 }
 
 .winkLevel5
{ 
 background-image:url("../../images/wink/wink5.gif") !important;
 background-repeat:repeat;
 }

     
 textarea {
    resize: none;
}

.FlipVertical {
transform:rotate(-90deg); 
-ms-transform:rotate(-90deg); /* IE 9 */ 
-webkit-transform:rotate(-90deg); /* Opera, Chrome, and Safari */
}

.WorkLoadTableTextbox{
    width:85%; 
    height:100%; 
    margin:0px !important; 
    text-align:right; 
    background-color:transparent !important;
    border: 0px solid;
    border-color:transparent !important;
}


.WorkLoadTableCell
{
    text-align:center; 
    vertical-align:middle;
    padding:0px !important;
}

.WorkLoadSummaryCell
{
    background-color:#F8F8F8; 
    padding:8px !important; 
    text-align:right !important; 
    vertical-align:middle;
    font-weight:bold; 
    font-size:14px;
    color:Green;
}

.WorkLoadBGNotFill
{
    background-color:#eff9fa; 
    }
    
.WorkLoadBGNotMatch
{
    /*background-color:#fac087; */
    background-color:orangered;
    color:white;
    }
 .WorkLoadBGMatch
{
    /*background-color:#fac087; */
    background-color:#66cc33;
    color:white;
    }

.DateTimeSpan
{
    background-color: #E5E5E5;
    border: 1px solid #E5E5E5;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    height: 24px;
    line-height: 24px;
    min-width: 16px;
    padding: 4px 5px;
    text-align: center;
    width: auto;
    margin-left:-4px;
    }
    
          
        
        /*************** Pagenavigation ***************/

.pagenavigation {
                /*text-align: right;
                padding: 20px 0 5px 0;*/
                font-size: 10px;
                }
.pagenavigation a {
                margin: 0 5px 0 0;
                padding: 3px 6px;
                border: 1px solid #ddd;
                }
.pagenavigation a:hover {
                background: blue !important;
                color:White;
                }

.pagenavigation a.current {
                background: blue !important;
                border-color: Teal !important;
                color: #fff !important;
                }
				
.pagenavigation a.current:hover {
				text-decoration: underline;
                }
