﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="WUC_DateReporter.ascx.cs" Inherits="VB.WUC_DateReporter" %>

                            <li class="pull-right no-text-shadow">
                            		<div class="dashboard-date-range tooltips no-tooltip-on-touch-device responsive" style="display: block;">
                                    <i class="icon-calendar"></i>
                                    <span><asp:Label id="lblDate" runat="server"></asp:Label></span>
                                    </div>
                            </li>